// Шрифты
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

$main-light-color: #ffffff;
$main-dark-color: #000000;
$secondary-dark-color: #907e82;

$main-accent-color: #d41443;
$secondary-accent-color: #ffa5ba;

// Цвета фонов секций
$main-background-color: #ffffff;
$hero-primary-background-color: #ffb8ca;
$hero-secondary-background-color: #ffa5ba;
$menu-background-color: #e17992;
$gallery-background-color: #fff5f6;
$about-background-color: #fff5f6;
$review-background-color: #fafafa;
$button-accent-hover-color: #c7133e;
$button-hover-color: #ecebeb;

$menu-border-color: #e18298;

// Цвета фонов карточек
$cream-card-background-color: #ffb8ca;
$coffee-card-background-color: #f0d1a5;
$shake-card-background-color: #c2e297;

$duration: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);
