<section class="about" id="section-about">
  <div class="container">
    <p class="about__title-label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__tablet">
      <div class="about__thumb">
        <img
          class="about__img"
          srcset="./images/mobile/about/cow-2x.png 1x, ./images/mobile/about/cow-1x.png 2x"
          src="./images/mobile/about/cow-1x.png"
          alt="cow"
        />
      </div>
      <div class="about__description-div">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <div class="btn-remover">
          <button class="about__button" type="button" data-modal-open-about>Read more</button>
        </div>
      </div>
    </div>

    <div class="about__desktop">
      <div class="about__thumb">
        <img
          class="about__img"
          srcset="./images/mobile/about/cow-2x.png 1x, ./images/mobile/about/cow-1x.png 2x"
          src="./images/mobile/about/cow-1x.png"
          alt="cow"
        />
      </div>
      <div class="about__div">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button" type="button" data-modal-open-about2>Read more</button>
      </div>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal-about>
    <div class="modal modal-about">
      <button class="modal__btn" type="button" data-modal-close-about>
        <svg width="18" height="18" class="modal__icon">
          <use href="./images/sprite.svg#icon-modal-close"></use>
        </svg>
      </button>
      <h2 class="modal__title">Made with love</h2>
      <h3 class="modal__subtitle">Natural products</h3>
      <p class="modal__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam debitis quibusdam recusandae
        eligendi inventore libero!
      </p>
      <h3 class="modal__subtitle">Modern technologies</h3>
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore veniam rerum consequuntur
        adipisci voluptas corrupti quo officiis, perferendis maiores exercitationem!
      </p>
      <h3 class="modal__subtitle">Best experts</h3>
      <p class="modal__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est laboriosam adipisci at sequi?
      </p>
    </div>
  </div>

  <div class="milk-left"></div>
  <div class="milk-right"></div>

  <script src="./js/modal-about.js"></script>
</section>
