<section class="advantages" id="section-advantages">
  <div class="container">
    <h2 class="advantages__visually-hidden visually-hidden">Advantages!</h2>

    <ul class="advantages__elem">
      <li class="advantages__list">
        <p class="advantages__icon advantages__icon1"></p>
        <p class="advantages__fact">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantages__list">
        <p class="advantages__icon advantages__icon2"></p>
        <p class="advantages__fact">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantages__list">
        <p class="advantages__icon advantages__icon3"></p>
        <p class="advantages__fact">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
