<section class="gallery">
  <div class="container">
    <h2 class="is-hidden">Gallery</h2>
    <div class="gallery__thumb">
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery01-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery01-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery01-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery01-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery01-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery01-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery01-@1x.jpg"
                alt="Green ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery02-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery02-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery02-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery02-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery02-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery02-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery02-@1x.jpg"
                alt="Pink ice cream"
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery03-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery03-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery03-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery03-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery03-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery03-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery03-@1x.jpg"
                alt="Pink ice lolly"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column is-big">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery04-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery04-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery04-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery04-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery04-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery04-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery04-@1x.jpg"
                alt="Different types of ice cream"
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row is-small">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery05-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery05-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery05-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery05-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery05-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery05-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery05-@1x.jpg"
                alt="Young girl with ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column is-down">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery06-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery06-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery06-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery06-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery06-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery06-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery06-@1x.jpg"
                alt="Ice cream in a vase"
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery07-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery07-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery07-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery07-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery07-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery07-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery07-@1x.jpg"
                alt="Red ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column is-up">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery08-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery08-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery08-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery08-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery08-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery08-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery08-@1x.jpg"
                alt="The dog tastes red ice cream"
              />
            </picture>
          </div>
        </div>
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery09-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery09-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery09-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery09-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery09-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery09-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery09-@1x.jpg"
                alt="Milk shake"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column is-down">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery10-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery10-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/tablet/gallery/gallery10-@1x.jpg 1x,
                  ./images/tablet/gallery/gallery10-@2x.jpg 2x
                "
                media="(max-width: 1279px)"
              />

              <img
                srcset="
                  ./images/desktop/gallery/gallery10-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery10-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery10-@1x.jpg"
                alt="Donut with ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
