<section class="products" id="section-products">
  <div class="container">

      <p class="products__title1">100% natural</p>
      <h2 class="products__title2">products</h2>

    <ul class="list products__about">
      <li class="products__list products__list-icecream">
        <h3 class="products__list__title-name">ice cream</h3>
          <div class="products__text-btn">
            <div class="products__list__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
              <input type="checkbox" id="read-more" hidden="" class="products__checkbox"> 
                <p class="extra-text">dolore magna aliqua facilisis.</p>
            </div>
            <label for="read-more" class="products__btn shadow__btn"><svg   class="products__btn__link__icon">
              <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </label>
          </div>
      </li>
      <li class="products__list products__list-icecoffe">
        <h3 class="products__list__title-name">ice coffee</h3>
          <div class="products__text-btn">
            <div class="products__list__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
              <input type="checkbox" id="read-more-icecoffe" hidden="" class="products__checkbox">
              <p class="extra-text">dolore magna aliqua facilisis.</p>
            </div>
            <label for="read-more-icecoffe" class="products__btn shadow__btn"><svg class="products__btn__link__icon">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </label>
          </div>
      </li>
      <li class="products__list products__list-milkshakes">
        <h3 class="products__list__title-name">milkshakes</h3>
          <div class="products__text-btn">
            <div class="products__list__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
              <input type="checkbox" id="read-more-milkshake" hidden="" class="products__checkbox">
              <p class="extra-text">dolore magna aliqua facilisis.</p>
            </div>
            <label for="read-more-milkshake" class="products__btn shadow__btn"><svg class="products__btn__link__icon">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </label>
          </div>
      </li>
    </ul>
  </div>
</section>
